In [3]:
from scipy.stats.contingency import chi2_contingency
from scipy.stats import chi2
import pandas as pd
import numpy as np

In [4]:
data=pd.read_csv('Costomer+OrderForm.csv')

In [5]:
data

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [6]:
print(data['Phillippines'].value_counts(),data['Indonesia'].value_counts(),data['Malta'].value_counts(),data['India'].value_counts())

Phillippines
Error Free    271
Defective      29
Name: count, dtype: int64 Indonesia
Error Free    267
Defective      33
Name: count, dtype: int64 Malta
Error Free    269
Defective      31
Name: count, dtype: int64 India
Error Free    280
Defective      20
Name: count, dtype: int64

In [7]:
data=[[271,267,269,280],[29,33,31,20]]

In [8]:
data

[[271, 267, 269, 280], [29, 33, 31, 20]]

In [9]:
stats,p,dof,expected=chi2_contingency(data)

In [10]:
p

0.2771020991233135

In [11]:
alpha = 0.05
if p>alpha:
    print('Accept H0')
else:
    print('Reject H0')

Accept H0